/* You can add global styles to this file, and also import other style files */
.btn-light {
  background-color: #f6f7f8 !important;
  border-color: #f6f7f8 !important;
}

.btn-dark {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}

body {
  min-height: 100vh;
}

body,
nav {
  background-color: #f6f7f8;
}

h1,
h2,
nav {
  font-family: "Kollektif";
}

.btn,
.btn.btn {
  border-radius: 1.5em;
}

.btn-success,
.btn.btn-success {
  color: #fdfdfd;
  background-color: #2ec4b6;
  border-color: #2ec4b6;
}

.btn-primary,
.btn.btn-primary {
  color: #fdfdfd;
  background-color: #3985ff;
  border-color: #3985ff;
}

.btn-warning,
.btn.btn-warning {
  color: #fdfdfd;
  background-color: #eb3764;
  border-color: #eb3764;
}

.btn:not(:disabled):not(.disabled).hover,
.btn:not(:disabled):not(.disabled):hover {
  transition: 0.2s;
  filter: brightness(96%);
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active {
  color: #faf0f0;
  background-color: #27a195;
  border-color: #27a195;
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active {
  color: #faf0f0;
  background-color: #bb2e51;
  border-color: #bb2e51;
}

.badge-success,
.badge.badge-success {
  background-color: #22c9b8;
}

.badge-primary,
.badge.badge-primary {
  background-color: #3985ff;
}

.badge-warning,
.badge.badge-warning {
  color: #f6f7f8;
  background-color: #eb3764;
}

.delete-btn {
  color: #ffffff;
}

#header {
  border-radius: 0em;
  color: #f6f7f8;
  background: rgb(37,112,233);
  background: linear-gradient(34deg, rgba(37,112,233,1) 9%, rgba(36,182,255,1) 94%);
}


.btn span{
  position: relative;
}

.fast-animated span,
.fast-animated span:after,
.fast-animated:hover span {
  transition: 0.4s;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
}

.faster-animated {
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
}

.plus span:after {
  content: '\002B';
  margin-left: 0.5em;
  position: absolute;
  transform: scale(0);
  transform-origin: left;
}

.arrow span:after {
  content: '\25b6';
  position: absolute;
  opacity: 0;
  right: -1em;
}

.scale span:after {
  transform: scale(0);
  transform-origin: left;
}

.add-btn {
  width: 8em;
}

.add-btn:hover span {
  padding-right: 1em;
}

.add-btn:hover span:after {
  transform: scale(1.3);
}
