.card {
  box-shadow: -1px 1px 5px #52525265;
}

#rating-container {
  position: relative;
}

#rating-container #rating {
  width: 100%;
}

#rating-container #rating-overlay {
  position: absolute;
  width: inherit;
}

#tasks {
  cursor: pointer;
}
